@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{

    overflow-x: hidden;
}

:root{
    --primary:#FFA700;
    --black: #2B2B2B;
    --gray: #808080;
    --white: #FFFFFF;
    --dirty_white: #F5F5F5;
    --h1: 90px;
}

/*------------Header Style starts here----*/

.header{
    background-color: var(--black);
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
}

.header, .border1{
    border-bottom: 5px solid #212121;
   
}

.container{
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__logo{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--white);
}

.header__logo span{
    color: var(--primary);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

nav ul li a{
    color: var(--dirty_white);
    text-decoration: none;
    transition: .3s ease;
}

nav ul li a:hover{
    color: var(--primary);
    
}

.active{
    color: var(--primary);
}

.toggle__menu{
    display: none;
}

/*------------Header Style ends here----*/

.banner{
    padding: 6rem 0;

}

.banner__wrapper{
    display: flex;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 768px){
    .banner__wrapper{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
}

.banner img{
    width: 40rem;
}

.banner__content{
    flex-direction: column;
}

.banner__content h1{
    color: var(--primary);
    font-size: clamp(3rem, 5vw, 5rem);
    line-height: 1;
}

.banner__content a{
    display: inline-block;
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.banner__content a:hover{
    background-color: var(--black);
}

.banner__content p{
    margin: 2rem 0;
    text-align: justify;
}



/*------ SERVICES QUOTES STARTS HERE------*/

.get_a_quote{
    background-color: var(--black);
    /* height: 720px; */
    padding: 8rem 0;
    display: flex;
    align-items: center;
}

.quote__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.quote{
    text-align: center;
    width: 335px;
    justify-content: center;
}

.quote a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: 1rem 1.5rem;
    border-radius: 30px;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.quote a:hover{
    background-color: var(--black);
    border: 2px solid var(--primary);
}

.quote img{
    margin-bottom: 1rem;
}

.quote h3{
    color: var(--primary);
    margin-bottom: 2rem;
}

.quote p{
    text-align: justify;
    color: var(--white);
    margin-bottom: 3rem;
}


/*------ ABOUT SECTION STARTS HERE------*/

.about-me{
    display: flex;
    align-items: center;
    padding: 8rem 0;
}

.about__wrapper{
    display: flex;
    align-items: center;
    gap: 6rem;
}

.aboutme__content h2{
    margin-bottom: 2rem;
    color: var(--primary);
}

.aboutme__content p{
    text-align: justify;
}

/*------ LATEST TRENDS SECTION STARTS HERE------*/

.latest-trends{
    background-color: var(--black);
    display: flex;
    align-items: center;
    padding: 8rem 0;
}

.latest-trends-text{
    margin-bottom: 4rem;
}

.latest-trends-text h1{
    color: var(--primary);
    font-size: 35px;
}

.latest-trends-text p{
    color: var(--dirty_white);
    
}

.latest-trends__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.lt-card{
    width: 349px;
    background-color: var(--dirty_white);
    border-radius: 20px;
    transition: 300ms ease;
    
}

.lt-card:hover{
    transform: scale(1.05);
}

.lt-card h4{
    color: var(--primary);
    margin-bottom: 1rem;
}

.lt-card p{
    font-size: 14px;
    margin-bottom: 2rem;
}

.lt-card a{
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s ease;
}

.lt-card a:hover{
    color: var(--black);
}

.lt-card img{
    width: 100%;
}

.desc__content{
    margin: 2rem 1rem;
}

/*------ FEEL FREE SECTION STARTS HERE------*/

.feel-free{
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 4rem;
}

.feel-free__content{
    text-align: center;
}

.feel-free__content h1{
    font-weight: 600;
    font-size: 30px;
}

.feel-free__content a{
    display: inline-block;
    text-decoration: none;
    color: var(--dirty_white);
    background-color: var(--black);
    border-radius: 30px;
    padding: 1.2rem 1.8rem;
    margin-top: 2.5rem;
    transition: 0.3s ease;
}

.feel-free__content a:hover{
    background-color: var(--dirty_white);
    color: var(--black);
}

/*------ FOOTER SECTION STARTS HERE------*/

.footer{
    display: flex;
    align-items: center;
    background-color: var(--black);
    padding: 3rem 0;
}

.border{
    border-top: 1.2px solid var(--dirty_white);
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
}

.soc-media-address__content{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.soc-media{
    display: flex;
    gap: 1rem;
}

.soc-media i{
    color: var(--gray);
    font-size: 25px;
    transition: 0.3s ease;
}

.soc-media i:hover{
    color: var(--primary);
}

.address p{
    color: var(--gray);
}

.copyright{
    display: flex;
    align-items: center;
}

.copyright p{
    color: var(--gray);
}


/*------ ABOUT ME SECTION STARTS HERE------*/

.about-section{
    padding: 5rem 0;
    display: flex;
    align-items: center;
}

.tyntk__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tyntk__content h6{
    font-size: 16px;
    font-weight: 400;
}

.tyntk__content h1{
    font-size: 90px;
    color: var(--primary);
}

.tyntk__content p{
    text-align: justify;
    margin: 2rem 0;
}

.tyntk__content{
    width: 460px;
}

.tyntk__content a {
    text-decoration: none;
}

.tyntk__content a i {
    font-size: 25px;
    color: var(--primary);
}

.tyntk-soc-media {
    display: flex;
    gap: 1rem;
}

.scrldwn{
    text-align: center;
    margin-top: 4rem;
}

.scrldwn i{
    font-size: 48px;
    color: var(--primary);
}

/*------ RECENT PROJECT SECTION STARTS HERE------*/

.recent-projects{
    background-color: var(--black);
    padding: 6rem 0;
    display: flex;
    align-items: center;
}

.recent-project-title{
    margin-bottom: 6rem;
}

.recent-project-title h2 {
    font-size: 40px;
    color: var(--primary);
}

.recent-project-title p {
    color: var(--dirty_white);
    font-size: 18px;
}

.recent-project__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 3rem;
}

.rp-card{
    width: 349px;
    height: 450px;
    background-color: var(--dirty_white);
    border-radius: 20px;
    transition: 300ms ease;
}

.rp-card img{
    width: 100%;
}

.rp-desc__content{
    margin: 2rem 1rem;
}

.rp-desc__content h4{
    color: var(--primary);
    margin-bottom: 1rem;
}


/* SERVICES STARTS HERE */

.web-design{
    display: flex;
    align-items: center;
    padding: 5rem 0;
}

.web-design__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-design__content{
    width: 521px;
}

.web-design__content h1{
    font-size: 50px;
    line-height: 1;
    color: var(--primary);
    margin-bottom: 3rem;
}

.web-design__content p{
    text-align: justify;
    margin-bottom: 3rem;
}

.price h5,h6{
    font-size: 14px;
    font-weight: 400;
}

.price h3{
    font-size: 33px;
    color: var(--primary);
}

.price h6{
    font-style: italic;
}

/* GRAPHICS AND VECTOR SECTION STARTS HERE */

.graphics-vector{
    background-color: var(--black);
    padding: 6rem 0;
    display: flex;
    align-items: center;
}

.graphics-vector__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.web-design__content .white-text{
    color: var(--dirty_white);
}

/* SOCIAL MEDIA SPECIALIST STARTS HERE */

.soc-med-specialist{
    display: flex;
    align-items: center;
    padding: 6rem 0;
}

.soc-med-specialist__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CONTACT STARTS HERE */

.contact-us{
    background-color: var(--black);
    height: 100vh;
    color: var(--dirty_white);
    display: flex;
    align-items: center;
}

.contact__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.contact__content{
    width: 560px;
}



.contact__content h1{
    font-size: 70px;
    color: var(--primary);
    margin-bottom: 4rem;
}

.contact__content p{
    margin-bottom: 4rem;
}

.contact{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.contact i, .contact-soc-media i {
    font-size: 25px;
}

.contact-soc-media {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.contact-soc-media a {
    color: var(--dirty_white);
}

.message__content{
    display: flex;
    flex-direction: column;
    width: 560px;
}

.message__content input, textarea{
    padding: 1rem;
    margin-bottom: 1.2rem;
    border-radius: 2px;
    border-style: none;
}

.btn-send{
    text-align: right;
}

button{ 
    padding: 1rem 1.5rem;
    background-color: var(--primary);
    border-style: none;
    border-radius: 30px;
    color: var(--dirty_white);
    font-size: 16px;
}

/* UPDATES STARTS HERE */

.updates p{
    text-align: justify;
}

.updates__wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 4rem 0;
}

.latest-trends-section h1 {
    font-size: 40px;
    color: var(--primary);
    
}

.latest-trends-section img{
    margin-top: 4rem;
    width: 100%;
}



.categories{
    margin-top: 9rem;
    height: 376px;
    border-bottom: 1px solid gray;
}

.categories h2, .recent-post h2, .tags h2{
    margin-bottom: 2rem;
    color: var(--primary);
}

.categories-list h5{
    font-weight: 400;
}

.categories-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.author-date-tags__content{
    display: flex;
    gap: 2.5rem;
    margin-top: .7rem;
}

.author-date-tags a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.designing-concept-section{
    border-bottom: 1px solid black;
    height: 270px;
}

.designing-concept-section h2, .design-to-code-section h2{
    margin: 2rem 0;
    color: var(--primary);
}

.designing-concept-section p, .design-to-code-section p{
    margin-bottom: 2rem;
}

.designing-concept-section a,.design-to-code-section a{
    text-decoration: none;
    color: var(--primary);
    transition: .3s ease;
}

.designing-concept-section a:hover,.design-to-code-section a:hover{
    color: var(--black);
}

.recent-post{
    margin-top: 6rem;
    height: 500px;
    border-bottom: 1px solid black;
}

.recent-post-list{
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.recent-post-list a{
    text-decoration: none;
    color: var(--black);
    font-weight: 800;
    font-size: 15px;

}

.recent-post-desc{
    position: relative;
 }

 .post-date{
    position: absolute;
    bottom: 0px;
}

.post-date a{
    font-weight: 400;
}

.tags{
    margin-top: 2rem;
}

#tag-active{
    color: var(--white);
    background-color: var(--black);
}

.tags a{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    border-radius: 30px;
    border: 2px solid var(--black);
    padding: 1rem;
    margin: .5rem;
    font-weight: 600;
    transition: .3s ease;
}




.tags a:hover{
    background-color: var(--black);
    color: var(--dirty_white);
}














@media(max-width: 768px){

    .banner__content a{
        text-align: center;
    }

    .container{
        width: 100%;
    }

    .toggle__menu i{
        color: var(--primary);
        font-size: 32px;
    }

    .toggle__menu {
        display: block;
        cursor: pointer;
    }

    .toggle__menu span{
        display: block;
        width: 2rem;
        height: .2rem;
        margin: .4rem;
        transition: .3s ease;
        background-color: var(--primary);
    }

    nav.open ul{
        right: -50%;
        transition: 0.3s ease;
    }

    nav ul{
        display: block;
        position: absolute;
        right: -100%;
        top: 6.6rem;
        width: 100%;
        height: 100vh;
        background-color: white;
        text-align: left;
        transition: 0.3s ease;
    }

    nav ul li a{
        display: block;
        width: 100%;
        padding: 1rem;
        color: var(--black);
        border-bottom: 1px solid var(--dirty_white);
    }

    nav ul li:hover{
        background-color: var(--primary);
    }

    nav ul li:hover a{
        color: var(--dirty_white);
    }

    .toggle__menu.open span:nth-child(1){
        transition: .3s ease;
        transform: translate(-2px, 7.3px) rotate(45deg);
    }

    .toggle__menu.open span:nth-child(2){
        opacity: 0;
        transition: 0s;
    }

    .toggle__menu.open span:nth-child(3){
        transition: .3s ease;
        transform: translate(-2px, -12px) rotate(-45deg);
    }

    .quote__wrapper{
        grid-template-columns: 1fr;
        row-gap: 7rem;
        justify-items: center;
    }

    .about__wrapper{
        flex-direction: column;
    }

    .latest-trends-text{
        text-align: center;
    }

    .latest-trends__content{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 4rem;
    }

    .soc-media-address__content{
        display: block;
    }


    /* ABOUT SECTION */

    .ctyntk__wrapper{
        flex-direction: column;
    }

    .recent-project-title{
        text-align: center;
    }
    
    .recent-project__content{
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* SERVICES SECTIONS */

    .web-design__wrapper, .graphics-vector__content,.soc-med-specialist__wrapper{
        flex-direction: column;
    }

    .web-design__content{
        margin-bottom: 4rem;
    }

    .graphics-vector__content img{
        margin-bottom: 4rem;
    }

    /* UPDATES SECTIONS */

    .updates__wrapper{
        grid-template-columns: 1fr;
    }

    .updates-category__content{
        display: none;
    }

    /* CONTACT SECTION */

    .contact__wrapper{
        flex-direction: column;
    }
}

@media(min-width: 992px){
    .container{
        width: 970px;
    }
}

@media(min-width: 1200px){
    .container{
        width: 1170px;
    }
}